/* ==================================================
  style.css
================================================== */

@charset "UTF-8";

/*----------------------------------------------------
  .l-body
----------------------------------------------------*/

.l-body {
  width: 100%;
  min-height: 100vh;
  background-color: #6f8ebd;
}

/*----------------------------------------------------
  .l-header
----------------------------------------------------*/

.l-header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: rgba(111, 142, 189, 0.9);
  z-index: 10;
}

/*
  .l-header__left
---------------------------------------------------- */

.l-header__left {
  display: flex;
}

/* .p-icon */

.p-icon {
  font-size: 30px;
  line-height: 60px;
}

.p-icon--back {
  margin-left: 7px;
}

.p-icon--search,
.p-icon--call,
.p-icon--menu {
  margin-right: 9px;
}

/*  .p-title  */

.p-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 60px;
}

/*
  .l-header__right
---------------------------------------------------- */

.l-header__right {
  display: flex;
  justify-content: flex-end;
}

/*----------------------------------------------------
  .l-main
----------------------------------------------------*/

.l-main {
  min-height: calc(100vh - 60px - 60px);
  padding: 80px 0;
}

/*
  .p-chatItem
---------------------------------------------------- */

.p-chatItem {
  display: flex;
  margin: 0 20px 30px 20px;
  gap: 16px;
}

.p-avatar--left,
.p-avatar--right {
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #e6e6e6;
  align-items: center;
}

.p-avatar--left {
  font-size: 60px;
  color: #ec907d;
}

.p-avatar--right {
  font-size: 60px;
  color: #000000;
}

/*  .p-chatItem--left
---------------------------------------------------- */

/***   .p-balloon   ****/

.p-balloon {
  position: relative;
  width: 100%;
  min-height: 50px;
  padding: 10px;
  border-radius: 12px;
}

/* .p-balloon--left  */

.p-balloon--left {
  background-color: #fff;
}

.p-balloon--left::before {
  content: "";
  position: absolute;
  top: 18px;
  left: -20px;
  width: 20px;
  height: 30px;
  background-color: #fff;
  clip-path: polygon(40% 0px, 100% 10%, 120% 100%);
}

.p-balloon__text {
  font-size: 14px;
}

/*  .p-chatItem--right
---------------------------------------------------- */

/* .p-balloon--right  */

.p-balloon--right {
  background-color: #96db90;
}

.p-balloon--right::after {
  content: "";
  position: absolute;
  top: 18px;
  right: -20px;
  width: 20px;
  height: 30px;
  background-color: #96db90;
  clip-path: polygon(0% 15%, 60% 0%, -3px 100%);
}

/*----------------------------------------------------
  .l-footer
----------------------------------------------------*/

.l-footer {
  height: 60px;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 9999;
}

.p-message {
  display: flex;
  padding: 0 16px;
  align-items: center;
}

.p-message__input {
  width: 90%;
  height: 100%;
  padding: 0 12px;
}

.p-icon--plus {
  padding-right: 16px;
  font-size: 36px;
}

.p-message__form {
  width: 100%;
  height: 40px;
  border: #666 solid 2px;
  border-radius: 30px;
  background-color: #fff;
}