@charset "UTF-8";

* {
  font-family:Arial, Helvetica, sans-serif;
}

.c-header__title {
  font-size: 24px;
  font-weight: bold;
  margin: 64px auto 40px auto;
  text-align: center;
}

.c-pickUp {
  margin: 0 auto;
  width: 41%;
}

.c-pickUp__title {
  align-items: center;
  background-color: #8c97ff;
  border-radius: 20px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px;
  padding: 2px 11px;
}

.c-pickUp__section {
  border: 1.5px solid #000;
  border-radius: 20px;
  padding: 28px;
  box-shadow: 12px 12px rgba(0, 0, 255, 0.2);
}

.c-pickUp__picture {
  display: block;
  margin: 0 auto 20px auto;
  max-width: 100%;
}

.c-pickUp__item--smartWatch {
  margin-bottom: 12px;
}

.c-pickUp__itemName {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  vertical-align: bottom;
}

.c-pickUp__itemLogo {
  margin-left: 7px;
  vertical-align: middle;
}

.c-pickUp__itemText {
  font-size: 14px;
  margin-bottom: 8px;
}


.o-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.c-pickUp__itemDetails {
  margin-bottom: 24px;
  text-align: left;
}

.c-pickUp__detail {
  background-color: #eee;
  display: inline-block;
  font-size : 12px;
  margin-right: 8px;
  padding: 0 4px;
  vertical-align: middle;
}

.c-pickUp__price {
  font-size: 16px;
}

.c-pickUp__priceNote {
  font-size: 12px;
  margin-right: 2px;
}

.c-pickUp__tags {
  margin-left: 0;
}

.c-pickUp__tag {
  margin-top: 3px;
}

.c-pickUp__tag--link {
  color: #8c97ff;
  font-size: 14px;
}