/* ==================================================
  style.css
================================================== */

@charset "UTF-8";

/*----------------------------------------------------
  all
----------------------------------------------------*/

* {
  font-family:Arial, Helvetica, sans-serif;
}

/*----------------------------------------------------
  .c-header
----------------------------------------------------*/

.c-header__title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

/*----------------------------------------------------
  pickUp
---------------------------------------------------- */

.c-pickUp {
  width: 90%;
  max-width: 700px;
}

/*
  .c-pickUp__title
---------------------------------------------------- */

.c-pickUp__title {
  display: inline-block;
  padding: 2px 11px;
  border-radius: 15px;
  background-color: #8c97ff;
  color: #fff;
  font-size: 16px;
}

/*
  .c-pickUp__section
----------------------------------------------------*/

.c-pickUp__section {
  padding: 28px;
  border: 1.5px solid #000;
  border-radius: 20px;
  box-shadow: 12px 12px rgba(0, 0, 255, 0.2);
}

.c-pickUp__picture {
  display: block;
  max-width: 100%;
}

/* .c-pickUp__item */

.c-pickUp__itemName {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  vertical-align: bottom;
}

.c-pickUp__itemLogo {
  display: inline;
  vertical-align: middle;
}

.c-pickUp__itemText {
  font-size: 14px;
}

/* .c-pickUp__itemDetails */

.c-pickUp__itemDetails {
  text-align: left;
}

.c-pickUp__detail {
  display: inline-block;
  background-color: #eee;
  padding: 0 4px;
  font-size : 12px;
  vertical-align: middle;
}

/* .c-pickUp__price */

.c-pickUp__price {
  font-size: 16px;
}

.c-pickUp__priceNote {
  font-size: 12px;
}

/* .c-pickUp__tags */

.c-pickUp__tag--link {
  font-size: 14px;
  color: #8c97ff;
}

/*----------------------------------------------------
  utility
----------------------------------------------------*/

.u-section-spacing {
  margin-top: 64px;
  margin-bottom: 40px;
}

.u-mx-auto {
  margin: 0 auto;
}

.u-mb-16 {
  margin-bottom: 16px;
}

.u-mt-0 {
  margin-top: 0;
}

.u-mb-20 {
  margin-bottom: 20px;
}

.u-mb-12 {
  margin-bottom: 12px;
}

.u-ml-7 {
  margin-left: 7px;
}

.u-mb-8 {
  margin-bottom: 8px;
}

.u-mb-24 {
  margin-bottom: 24px;
}

.u-mr-5 {
  margin-right: 5px;
}

.u-mr-2 {
  margin-right: 2px;
}

.u-ml-0 {
  margin-left: 0;
}

.u-mt-3 {
  margin-top: 3px;
}