/* ==================================================
  style.css
================================================== */

@charset "UTF-8";

* {
  box-sizing: border-box;
}

/*----------------------------------------------------
  .l-body
----------------------------------------------------*/

.l-body {
  padding: 64px 0 160px 0;
}

/*----------------------------------------------------
  .l-header
----------------------------------------------------*/

.l-header {
  margin-bottom: 40px;
}

.c-header__title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

/*----------------------------------------------------
  pickUp
---------------------------------------------------- */

.p-pickUp {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
}

/*
  .c-pickUp__title
---------------------------------------------------- */

.c-pickUp__title {
  display: inline-block;
  padding: 2px 11px;
  border-radius: 15px;
  background-color: #8c97ff;
  color: #fff;
  font-size: 16px;
}

/*
  .p-pickUp__section
----------------------------------------------------*/

.p-pickUp__section {
  padding: 28px;
  border: 1.5px solid #000;
  border-radius: 20px;
  box-shadow: 12px 12px rgba(0, 0, 255, 0.2);
}

.c-pickUp__picture {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

/* .p-pickUp__item */

.p-pickUp__item{
  margin-bottom: 12px;
}

.c-pickUp__itemName {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  vertical-align: bottom;
}

.c-pickUp__itemLogo {
  display: inline;
  vertical-align: middle;
}

/* .c-pickUp__itemText */

.c-pickUp__itemText {
  margin-bottom: 8px;
  font-size: 14px;
}

/* .p-pickupDetail__list */

.p-pickupDetail__list {
  margin-bottom: 24px;
  text-align: left;
}

.p-pickupDetail__listItem {
  display: inline-block;
  margin-right: 5px;
  padding: 0 4px;
  background-color: #eee;
  font-size : 12px;
  vertical-align: middle;
}

.p-pickupDetail__listItem:last-child {
  margin-right: 0;
}

/* .c-price */

.c-price {
  font-size: 16px;
}

.c-smallText {
  font-size: 12px;
}

/* .c-link */

.c-link {
  font-size: 14px;
  color: #8c97ff;
}

/*----------------------------------------------------
  new
---------------------------------------------------- */

.p-new {
  margin: 96px auto 0;
  max-width: 1200px;
}

/*
  .c-new__title
---------------------------------------------------- */

.c-new__title {
  display: inline-block;
  padding: 2px 11px;
  border-radius: 15px;
  background-color: #7fe6a8;
  color: #fff;
  font-size: 16px;
}

/*
  .p-new__itemTable
----------------------------------------------------*/

.p-new__itemTable {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 32px;
}

/* .p-new__section */

.p-new__section {
  display: flex;
  max-width: 276px;
  padding: 16px;
  border: 1.5px solid #000;
  border-radius: 20px;
  box-shadow: 8px 8px rgba(140,255,186,1);
  flex: 1 1 calc((100% - 32px * 3) / 4);
}

/* .p-new__detail */

.p-new__detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-left: 16px;
}

.c-new__itemName {
  font-size: 12px;
}

.c-detailButton {
  width: 100%;
  border-radius: 15px;
  background-color: #f0f0f0;
  color: #000;
  padding: 6px 0;
  font-size: 12px;
}

.c-detailButton:hover {
  background-color: #0f0f0f;
  color: #fff;
  cursor: pointer;
}

/*----------------------------------------------------
  sale
---------------------------------------------------- */

.p-sale {
  max-width: 1200px;
  margin: 96px auto 0;
}

/*
  .c-sale__title
---------------------------------------------------- */

.c-sale__title {
  display: inline-block;
  padding: 2px 11px;
  border-radius: 15px;
  background-color: #ffe070;
  color: #fff;
  font-size: 16px;
}

/*
  .p-sale__itemTable
---------------------------------------------------- */

.p-sale__itemTable {
  display: flex;
  overflow-x: auto;
  padding-right: 20px;
}

/* .p-sale__section
------------------------------------------ */

.p-sale__section {
  position: relative;
  max-width: 200px;
  margin: 0 36px 20px 0;
  padding: 20px;
  border: 1.5px solid #000;
  border-radius: 20px;
  box-shadow: 8px 8px rgba(255,244,140,1);
  font-size: 0;
}

.p-sale__section:last-child {
  margin-right: 0;
}

/* .c-saleBadge */

.c-saleBadge {
  position: absolute;
  z-index: 2;
  top: 8px;
  left: 13px;
  width: 77px;
  padding: 3px 14px;
  background-color: #fb5b55;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

/* .c-overlay .c-soldOut */

.c-overlay {
  position: relative;
  display: inline-block;
}

.c-soldOut {
  display: flex;
  justify-content: center;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  align-items: center;
}

/* .c-sale__itemName */

.c-sale__itemName {
  font-size: 12px;
  text-align: center;
}

/* .c-salePrice */

.c-salePrice {
  color: #fb5b55;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

/* .c-saleButton */

.c-saleButton {
  width: 100%;
  padding: 6px 0;
  border-radius: 15px;
  background-color: #f0f0f0;
  color: #000;
  font-size: 13px;
}

.c-saleButton:hover {
  background-color: #0f0f0f;
  color: #fff;
  cursor: pointer;
}

/*----------------------------------------------------
  ranking
---------------------------------------------------- */

.p-ranking {
  max-width: 1200px;
  margin: 96px auto 0;
}

/*
  .cc-rankingTitle
---------------------------------------------------- */

.c-rankingTitle {
  display: inline-block;
  padding: 2px 11px;
  border-radius: 15px;
  background-color: #91c4ff;
  color: #fff;
  font-size: 16px;
}

/*
  .p-ranking__grid
---------------------------------------------------- */

.p-ranking__grid {
  display: grid;
  grid-template-rows: 289px 80px 80px 183px;
  grid-template-columns: 1.5fr 1.5fr 1fr;
  gap: 25px;
}

/* .p-ranking__card
------------------------------------------ */

.p-ranking__card {
  display: flex;
  position: relative;
  border: 1.5px solid #000;
  border-radius: 20px;
  box-shadow: 8px 8px #b3d9ff;
  overflow: hidden;
}

/* Grid positions for ranking cards */

.p-ranking__card:nth-child(1) {
  grid-row: 1 / span 2;
}

.p-ranking__card:nth-child(2) {
  grid-row: 3 / span 2;
}

.p-ranking__card:nth-child(3) {
  grid-column: 2 / span 1;
}

.p-ranking__card:nth-child(4) {
  grid-row: 2 / span 2;
  grid-column: 2 / span 1;
}

.p-ranking__card:nth-child(5) {
  grid-row: 4 / span 1;
  grid-column: 2 / span 1;
}

.p-ranking__card:nth-child(6) {
  grid-column: 3 / span 1;
}

.p-ranking__card:nth-child(7) {
  grid-row: 2 / span 2;
  grid-column: 3 / span 1;
}

.p-ranking__card:nth-child(8) {
  grid-row: 4 / span 1;
  grid-column: 3 / span 1;
}

/* rankingBadge */

.p-ranking__card:before {
  position: absolute;
  top: 6px;
  left: 6px;
  padding: 9px;
  border-radius: 45px;
  background-color: #91c4ff;
  color: #fff;
  font-size: 12px;
}

.p-ranking__card:nth-child(1)::before {
  content: "1位";
}

.p-ranking__card:nth-child(2)::before {
  content: "2位";
}

.p-ranking__card:nth-child(3)::before {
  content: "3位";
}

.p-ranking__card:nth-child(4)::before {
  content: "4位";
}

.p-ranking__card:nth-child(5)::before {
  content: "5位";
}

.p-ranking__card:nth-child(6)::before {
  content: "6位";
}

.p-ranking__card:nth-child(7)::before {
  content: "7位";
}

.p-ranking__card:nth-child(8)::before {
  content: "8位";
}

/* .c-salePicture */

.c-rankingPicture {
  display: block;
  max-width: 100%;
  height: auto;
}

/*   .c-detail   */

.c-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 12px;
}

.p-ranking__card:nth-child(1) .c-detail {
  padding-bottom: 25px;
}

.p-ranking__card:nth-child(2) .c-detail {
  padding-bottom: 15px;
}

.p-ranking__card:nth-child(3) .c-detail,
.p-ranking__card:nth-child(6) .c-detail {
  padding-bottom: 13px;
}

/* c-rankingItem */

.p-ranking__card:nth-child(1) .rankingItem {
  padding-top: 30px;
  font-size: 18px;
  font-weight: bold;
}

.p-ranking__card:nth-child(2) .rankingItem {
  padding-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.p-ranking__card:nth-child(3) .rankingItem {
  padding-top: 15px;
}

.p-ranking__card:nth-child(4) .rankingItem,
.p-ranking__card:nth-child(5) .rankingItem {
  padding-top: 8px;
}

.p-ranking__card:nth-child(6) .rankingItem {
  padding-top: 20px;
  font-size: 12px;
}
.p-ranking__card:nth-child(7) .rankingItem,
.p-ranking__card:nth-child(8) .rankingItem {
  padding-top: 10px;
  font-size: 12px;
}

/* .p-ranking__list */

.p-ranking__list {
  letter-spacing: -1px;
}

.p-ranking__card:nth-child(6) .p-ranking__list {
  letter-spacing: -0.5px;
}

.p-ranking__card:nth-child(7) .p-ranking__list,
.p-ranking__card:nth-child(8) .p-ranking__list {
  letter-spacing: -1.5px;
}

/* .p-ranking__listItem */

.p-ranking__listItem {
  display: inline;
}

.c-rankingLink {
  color: #91c4ff;
  font-size: 14px;
}

/* .c-rankingButton */

.c-rankingButton {
  width: 100%;
  padding: 6px 0;
  border-radius: 15px;
  background-color: #f0f0f0;
  color: #000;
  font-size: 13px;
}

.c-rankingButton:hover {
  background-color: #0f0f0f;
  color: #fff;
  cursor: pointer;
}

/*----------------------------------------------------
  utility
----------------------------------------------------*/

.u-mb-16 {
  margin-bottom: 16px;
}

.u-mb-20 {
  margin-bottom: 20px;
}

.u-ml-7 {
  margin-left: 7px;
}

.u-mr-3 {
  margin-right: 3px;
}

.u-mt-3 {
  margin-top: 3px;
}

.u-mb-10 {
  margin-bottom: 10px;
}

.u-mt-15 {
  margin-top: 15px;
}

.u-mb-8 {
  margin-bottom: 8px;
}

.u-mt-12 {
  margin-top: 12px;
}