/* ==================================================
  style.css
================================================== */

@charset "UTF-8";

/*----------------------------------------------------
  .l-body
----------------------------------------------------*/

.l-body {
  padding: 64px 0;
}

/*----------------------------------------------------
  .l-header
----------------------------------------------------*/

.l-header__title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

/*----------------------------------------------------
  pickUp
---------------------------------------------------- */

.p-pickUp {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
}

/*
  .c-pickUp__title
---------------------------------------------------- */

.p-pickUp__title {
  display: inline-block;
  margin-bottom: 16px;
  padding: 2px 11px;
  border-radius: 15px;
  background-color: #8c97ff;
  color: #fff;
  font-size: 16px;
}

/*
  .c-pickUp__section
----------------------------------------------------*/

.p-pickUp__section {
  padding: 28px;
  border: 1.5px solid #000;
  border-radius: 20px;
  box-shadow: 12px 12px rgba(0, 0, 255, 0.2);
}

.p-pickUp__picture {
  display: block;
  margin: 0 auto 20px auto;
  max-width: 100%;
}

/* .p-pickUp__item */

.p-pickUp__item--smartWatch{
  margin-bottom: 12px;
}

.p-pickUp__itemName {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  vertical-align: bottom;
}

.p-pickUp__itemLogo {
  display: inline;
  margin-left: 7px;
  vertical-align: middle;
}

.p-pickUp__itemText {
  margin-bottom: 8px;
  font-size: 14px;
}

/* .p-pickUp__itemDetails */
.p-pickUp__itemDetails {
  margin-bottom: 24px;
  text-align: left;
}

.p-pickUp__detail {
  display: inline-block;
  margin-right: 5px;
  padding: 0 4px;
  background-color: #eee;
  font-size : 12px;
  vertical-align: middle;
}

.p-pickUp__detail:last-child {
  margin-right: 0;
}

/* .p-pickUp__priceValue */

.p-pickUp__priceValue {
  font-size: 16px;
}

.p-pickUp__priceNote {
  margin-right: 2px;
  font-size: 12px;
}

.p-pickUp__priceNote:last-child {
  margin-right: 0;
}

/* .c-pickUp__tags */
.c-link {
  font-size: 14px;
  color: #8c97ff;
}

/*----------------------------------------------------
  utility
----------------------------------------------------*/

.u-mb-40 {
  margin-bottom: 40px;
}

.u-mt-3 {
  margin-top: 3px;
}