/* ==================================================
  style.css
================================================== */

@charset "UTF-8";

* {
  box-sizing: border-box;
}

/*----------------------------------------------------
  .l-body
----------------------------------------------------*/

.l-body {
  padding: 64px 0;
}

/*----------------------------------------------------
  .l-header
----------------------------------------------------*/

.l-header {
  margin-bottom: 40px;
}

.c-header__title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

/*----------------------------------------------------
  pickUp
---------------------------------------------------- */

.p-pickUp {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
}

/*
  .c-pickUp__title
---------------------------------------------------- */

.c-pickUp__title {
  display: inline-block;
  padding: 2px 11px;
  border-radius: 15px;
  background-color: #8c97ff;
  color: #fff;
  font-size: 16px;
}

/*
  .p-pickUp__section
----------------------------------------------------*/

.p-pickUp__section {
  padding: 28px;
  border: 1.5px solid #000;
  border-radius: 20px;
  box-shadow: 12px 12px rgba(0, 0, 255, 0.2);
}

.c-pickUp__picture {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

/* .p-pickUp__item */

.p-pickUp__item{
  margin-bottom: 12px;
}

.c-pickUp__itemName {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  vertical-align: bottom;
}

.c-pickUp__itemLogo {
  display: inline;
  vertical-align: middle;
}

.c-pickUp__itemText {
  margin-bottom: 8px;
  font-size: 14px;
}

.p-pickupDetail__list {
  margin-bottom: 24px;
  text-align: left;
}

.p-pickupDetail__listItem {
  display: inline-block;
  margin-right: 5px;
  padding: 0 4px;
  background-color: #eee;
  font-size : 12px;
  vertical-align: middle;
}

.p-pickupDetail__listItem:last-child {
  margin-right: 0;
}

/* .c-price */

.c-price {
  font-size: 16px;
}

.c-smallText {
  font-size: 12px;
}

/* .p-pickupTag__l1ist */
.c-link {
  font-size: 14px;
  color: #8c97ff;
}

/*----------------------------------------------------
  new
---------------------------------------------------- */

.p-new {
  margin: 96px auto 160px;
  max-width: 1200px;
}

/* .c-new__title */

.c-new__title {
  display: inline-block;
  padding: 2px 11px;
  border-radius: 15px;
  background-color: #7fe6a8;
  color: #fff;
  font-size: 16px;
}

/*
  .p-new__itemTable
----------------------------------------------------*/

.p-new__itemTable {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
}

/* .p-new__section */

.p-new__section {
  display: flex;
  padding: 16px;
  border: 1.5px solid #000;
  border-radius: 20px;
  box-shadow: 8px 8px rgba(140,255,186,1);
  flex: 1 1 calc((100% - 32px * 3) / 4);
}

/* .p-new__detail */

.p-new__detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 16px;
}

.c-new__itemName {
  font-size: 12px;
}

.c-detailButton {
  width: 100%;
  border-radius: 15px;
  background-color: #f0f0f0;
  color: #000;
  padding: 5px 0;
  font-size: 12px;
}

.c-detailButton:hover {
  background-color: #0f0f0f;
  color: #fff;
}

/*----------------------------------------------------
  utility
----------------------------------------------------*/

.u-mb-16 {
  margin-bottom: 16px;
}

.u-mb-20 {
  margin-bottom: 20px;
}

.u-ml-7 {
  margin-left: 7px;
}

.u-mr-2 {
  margin-right: 2px;
}

.u-mt-3 {
  margin-top: 3px;
}

.u-mb-10 {
  margin-bottom: 10px;
}